/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease;
}

/* Modal content (image) */
.modal-content {
    position: relative;
    width: 70%;
    height: auto;
    max-width: 90%;
    max-height: 90%;
    border-radius: 5px;
    overflow: hidden;
    animation: zoomIn 0.5s;
}

@keyframes zoomIn {
    from {transform: scale(0.6);}
    to {transform: scale(1);}
}

.modal.show {
    display: flex;
    opacity: 1;
}

/* Close button */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #ffffff;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s;
}

.caption {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #7ba5c3;
    text-align: center;
    font-size: 18px;
    background: whitesmoke;
    padding: 10px 20px;
    border-radius: 5px;
}

.dental-map-wrapper {
    position: relative;
    padding-top: 100%;
    max-width: 549px;
    margin: 0 auto;
}

.dental-map-wrapper > img:first-child {
    position: absolute;
    inset: 0;
    object-fit: contain;
}

.hotspot {
    position: absolute;
    cursor: pointer;
    transform: translate(-50%, -50%);
    width: 5%;
    height: 5%;
}
      
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}